.social {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5%;
    height: 320px;
    a {
        height: 64px;
        &:hover {
            filter: grayscale(60%);
        }
    }
}