$ubuntu: 'Ubuntu', sans-serif;
$white: white;
$switch-bg: rgb(23, 6, 68);
$table-bg: rgb(211, 207, 207);
$green: rgb(62, 216, 62);
$yellow: yellow;
$yellow-hover:#f0b11c;
$black: black;
$pink: deeppink;
$blue: rgb(15, 15, 53);
$blue-hover: rgb(70, 70, 216);